body { 
    max-width: 40em;
    border: solid #666 1px;
    margin: 1em auto;
    padding: 0;
}

body > section > *
{
    max-width: 100%;
    overflow: auto;
}

body img {
    max-width: 100%;
}

h1{
    padding: 0.25em;
    margin: 0;
    border-bottom: solid #666 1px;
}

section{
    padding: 0.5em;
    margin: 0;
    display: block;
}

    section h2:after{
        content: ":";
    }
        section#blog h2:after{
            content: "";
        }

    section h4 {
        font-size: 1em;
    }

    section#intro ul, 
    section#intro ul li,
    section#bio ul, 
    section#bio ul li,
    section#profiles ul, 
    section#profiles ul li
     {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
    }
    
        section ul li:after{
            content: ".";
        }


    section#blog pre {
        display: block;
        border: dashed #aaa 1px;
        padding: 1em;
    }


    section#blog h1 {
        border: 0;
        font-size: 1em;
    }

@media screen and (max-width: 40em){
    body {
        margin: 0;
        border: 0;
        width: 100%;
    }
}
