body { 
    font-size: 14pt;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: #666;
    width: 40em;
    border: solid #666 1px;
    margin: 1em auto;
    padding: 0;
}

h1{
    color: #eee;
    background-color: #666;
    font-size: 1.6em;
    font-weight: normal;
    padding: 0.25em;
    margin: 0;
    border-bottom: solid #666 1px;
}

section{
    padding: 0.5em;
    margin: 0;
}
section h2{
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0.43em 0;
    padding: 0;
}
section h2:after{
    content: ":";
}
section#intro ul, 
section#intro ul li,
section#bio ul, 
section#bio ul li,
section#profiles ul, 
section#profiles ul li
 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
section ul li:after{
    content: ".";
}